body{
    margin: auto;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-size: 16px;
    line-height: 32px;
}
header{
    background-color: brown;
    text-align: center;
    padding-top: 48px;
    padding-bottom: 48px;
}
header h1{
    font-size: 32px;
    color: aliceblue;
    font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
    padding: 16px;
}
main{
    margin: 0 auto;
    max-width: 800px;
    padding: 0 24px;
}
h2{
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
    text-transform: uppercase;
}
main img{
    max-width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: cover;
}
ol{
    padding: 0 16px;
}
footer{
    text-align: center;
    background-color: brown;
}
footer p{
    padding: 16px;
    margin: 0;
    color: aliceblue;
}