body{
    margin: 0;
    font-family: Inter;
}
header{
    background-color: brown;
    text-align: center;
    padding-top: 72px;
    padding-bottom: 72px;
}
header h1{
    font-size: 32px;
    color: aliceblue;
    font-family: bebas neue;
    padding: 16px;
}
main{
    margin: 0 auto;
    max-width: 800px;
    padding: 16px;
}
h2{
    font-family: Inter, sans-serif;
    text-transform: uppercase;
}
main img{
        max-width: 100%;
        height: auto;
        max-height: 500px;
        object-fit: cover;
}
ol{
    padding: 0 16px;
}